body {
    background-color: #f0f2f5;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.container {
    max-width: 80%;
    margin: 40px auto;
    padding: 25px;
    font-family: "Inter", sans-serif;
}

.post-comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

h2 {
    background-color: #1e1e1f;
    color: #f0d90d;
    padding: 15px;
    text-align: center;
    border: solid 1px grey;
    border-radius: 15px;
    font-size: 45px;
}

select {
    color: white;
    padding: 15px;
    width: 50%;
    font-weight: 600;
    font-size: 18px;
    background-color: #191c1c;
    border-radius: 15px;
    border: none;
}

h3 {
    color: #135c50;
    font-size: 1.2em;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding: 5px;
    border: solid 1px #bbb;
}

li {
    padding: 10px;
    margin: 6px 0;
    cursor: pointer;
    background-color: #f7f9fb;
    border-radius: 6px;
}

li.selected {
    background-color: #dfe6ed;
    font-weight: 600;
}
